# GOOGLE CLOUD ENGINE (GCE) configuration
# In order to make those Ansible's playbooks to work with GCE
# you must setup those information bellow
#
# Example
# gce_credentials_file: /Users/mauricio/my-gce-project.json
# gce_project_id: my-gce-project
# gce_service_account_email: mauricio@my-gce-project.iam.gserviceaccount.com
#
gce_credentials_file:
gce_project_id:
gce_service_account_email:
