# GOOGLE CLOUD ENGINE (GCE) configuration
# In order to make those Ansible's playbooks to work with GCE
# you must setup those information bellow
#
# Example
# gce_credentials_file: /Users/maltron/my-gce-project.json
# gce_project_id: my-gce-project
# gce_service_account_email: maltron@my-gce-project.iam.gserviceaccount.com
#
gce_credentials_file:
gce_project_id:
gce_service_account_email:

# If you do intend to change one of those properties bellow,
# you can either change in here or use "-e" option from ansible-playbook
# command
#
# GCE Machine Type
gce_machine_type: n1-standard-1

# GCE Region
gce_region: us-east1

# GCE Zone
gce_zone: {{ gce_region }}-c

# GCE Image
gce_image: rhel74-40g

# Used for using with Docker
gce_docker_size: 20

# In case of a custom image, it should be using
# those credentials bellow
ssh_image_user: root 
ssh_image_password: r3dh4t1! 
ssh_image_port: 22 

# (If defined) this file will be inserted 
# into each instance
# ssh_key_file:
