instance_name: example
instance_size: 100

# Red Hat Subscription to enable all the necessary packages for OpenShift
redhat_subscription_username:         # MANDATORY
redhat_subscription_password:         # MANDATORY

# GOOGLE CLOUD ENGINE (GCE) credential file
# Those are the credentials necessary to create anything
gce_credentials_file:                 # MANDATORY
gce_project_id:                       # MANDATORY
gce_service_account_email:            # MANDATORY
