instance_name: example
instance_machine: n1-standard-1
instance_size: 100
instance_disk_type: pd-standard

# Red Hat Subscription to enable all the necessary packages for OpenShift
redhat_subscription_username:  # MANDATORY
redhat_subscription_password:  # MANDATORY
#redhat_subscription_pool_id:  # OPTIONAL: If this option is missing, the playbook will attemp to find automatically

# GOOGLE CLOUD ENGINE (GCE) credential file
# Those are the credentials necessary to create anything
gce_credentials_file:          # MANDATORY
gce_project_id:                # MANDATORY
gce_service_account_email:     # MANDATORY

# GOOGLE CLOUD ENGINE (GCE) specifics
gce_region: us-east1
gce_zone: "{{ gce_region }}-c"
gce_network_name: {{ instance_name }}
gce_subnetwork_name: {{ instance_name }}-subnet
gce_ssh_tag: enable-ssh
gce_network_firewall_rules:
   - { name: "{{ gce_ssh_tag }}", allow: "tcp:22", range: "0.0.0.0/0", tag: "{{ gce_ssh_tag }}" }
gce_ipv4_prefix: 192.168.0.0/16
#gce_image: rhel-7-v20170227
gce_image: rhel74-40g

ssh_username: root
ssh_password: r3dh4t1!
ssh_port: 22
#ssh_key_file: /my_home_directory/.ssh/id_rsa.pub # OPTIONAL
